<!DOCTYPE html>
<html>
  <head>
    <title>BestBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="menu">
  <a href="index.html">Home</a>
  <a href="index.html">About Us</a>
  <a href="index.html">Best Seen in Last Year</a>
  <a href="index.html">Best Seen in Last Month</a>
  <a href="index.html">Best Seen in Last Week</a>
  </div>
<div id="wrapper">

  <div id="topbar">email: email@address.com | tel: 01234 567890 | fax: 01234 567890</div>

  <div id="logo"><span id="logoimg"></span></div>

  <div id="content">
     <%= yield %>

  </div>

</div>

<div id="footer">
template design:<a href="http://www.3formed.co.uk">3Formed.co.uk</a> | <a href="http://validator.w3.org/check/referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer/">Valid CSS</a> | <a href="index_nocss.html">TURN OFF CSS</a>
</div>

   
  </body>
</html>
